body {
    background-color: hsl(212, 45%, 89%);
    color: hsl(216, 15%, 48%);
    width: 90%;
    margin: auto;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main {
    background-color: hsl(0, 0%, 100%);
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    padding: 5%;
    border-radius: 5%;
    text-align: center;
}

h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1em;
}

img {
    width: 100%;
    border-radius: 5%;
}

/*
@media (max-width: 321px) {
    body {
        width: 25%;
        height: 100vh;
        position: relative;
    }

    .main {
        margin: 0%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

}

*/
